.nome{
    font-family: monospace;
    font-size: 80px;
    text-align: center;      
    color: rgb(249, 247, 247);
    padding: 20px;
    background: -webkit-linear-gradient(rgb(247, 243, 243), rgb(8, 8, 8));
    margin: 0px;

}
img{
    margin-top: 45px;
    width: 300px;
}
h1{
    font-size: 20px;
   line-height: 20px;
}
.portifolio{
    font-size: 20px;
}

h2{
    font-family: 'Courier New';
}

p{
    font-family: Courier;
    font-size: 24px;
    color: rgb(87, 88, 88);
}
ul{
    font-family: courier;
    font-size: 26px;
    color: rgb(87, 88, 88);
}

.margin{
    margin-left: 40px;
    margin-right: 40px;
}